/* start genral */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body{
  font-family: 'PT Sans', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}
.ul-list{
  list-style: none    ;
}

:root{
  --mainColor: #7B5244;
  --subColor: #333;
}
a{
  text-decoration: none;
}

.section-padding{
  margin: 40px 0;
}
.section-header{
  text-align: center;
  margin: 40px 0;
}
.section-header:hover .line{
  width: 150px;
}
.section-title{
  font-size: 30px;
  margin-bottom: 10px;
}
.line{
 display: block;
 width: 120px;
 height: 3px;
 background-color: var(--mainColor);
 margin: auto;
 transition: width 0.5s;
}

.polts{
  text-align: center;
  margin: 25px 0;
}
.polts span{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #CCC;
    border-radius: 50%;
    margin: auto;
}
.polts span.active{
  background-color: #333;
}
/* end genral */
/* --------------------- */

/* start header */
header{
  padding: 30px 0;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content img{
  flex: 1;
  max-width: 150px;
}

.header-content .navbar{
  flex: 3;
  text-align: center;
  width: 700px;
}

.header-content .login{
  flex: 1;
  text-align: right;
}

.login ul li i {
  font-size: 25px;
}

.login ul li:hover {
  color: var(--mainColor);
  cursor: pointer;
}
.header-content ul li {
  display: inline-block;
  text-transform: capitalize;
}

.header-content ul li ,
.header-content ul li a {
  color: var(--subColor);
}


.navbar ul li .link-item {
    /* display: block; */
    /* width: 100px; */
    padding: 10px 22px;
    font-weight: bold;
    position: relative;
}

.navbar ul li .link-item::before{
  content: "";
  position: absolute;
  border-width: 0 2px;
  border-style: solid;
  width: 97%;
  height: 100%;
  top: 0;
  left: 0;
  border-color: var(--mainColor);
  transform: scale3d(1,0,1);
  transition: transform 0.2s;
}

.navbar ul li .link-item:hover::before{
  transform: scale3d(1,1,1);
}

.navbar ul li .link-item::after{
  content: "";
  position: absolute;
  border-width: 2px 0;
  border-style: solid;
  width: 100%;
  height: 91%;
  top: 0;
  left: 0;
  border-color: var(--mainColor);
  transform: scale3d(0,1,1);
  transition: transform 0.2s;
  transform-origin: left;
}

.navbar ul li .link-item:hover::after{
  transform: scale3d(1,1,1);
  transition-delay: 0.2s;
}

.login ul li {
  padding: 10px;
  font-weight: bold;
}

.login ul li:last-child i {
  position: relative;
  margin-right: 10px ;
}

.login ul li:last-child i::after{
  content: "0";
  background-color: var(--mainColor);
  padding: 4px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  border-radius: 23%;
  bottom: -6px;
  right: -5px;

} 

.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  width: 350px;
  border: 2px solid var(--mainColor);
  background-color: #fff;
  padding: 10px;
  margin-top: 15px;
  transform: scale(0);
  transition: transform 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.dropdown:hover .dropdown-menu{
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu ul {
  display: table-cell;
  text-align: left;
}

.dropdown-menu ul li:first-child{
  border-bottom: 1px dotted #555555;
  margin-bottom: 10px;
}

.dropdown-menu ul li{
  line-height: 1.7;
  text-transform: capitalize;
}


/* end header */
/* --------------------- */

/* start section slider */
section.slider{
  position: relative;
}
section.slider img{
  width: 100%;
  z-index: 1;
  /* position: relative; */
}
section.slider .polts{
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: none;
  cursor: pointer;
}

section.slider .polts span{
  transition: background-color 0.5s;
} 

section.slider .polts span:hover{
  background-color: #333;
}
section.slider:hover .polts{
  display: block;
}
/* end section slider */
/* ------------------- */

/* start category section */
.category{
  position: relative;
}
.category-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.category-content img{
  width: 100%;
  margin-bottom: 25px;
}
.category-item-subtitle{
  color: gray;
  font-weight: normal;
  text-transform: capitalize;
}

.category-item-title{
  text-transform: capitalize;
}

.category-item{
  position: relative;
}
.icon{
    display: block;
    width: 40px;
    height: 40px;
    background: var(--mainColor);
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity,background-color 0.5s;
    cursor: pointer;
}

.icon:hover{
  background-color: var(--subColor);
}

.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}
.category-img{
  transition: box-shadow 0.5s;
}
.category-item:hover .category-img{
  box-shadow: 2px 2px 10px 2px #6F6F6F;
}

.category .polts{
  display: block;
}
.category .polts span{
  transition: transform 0.5s;
} 
.category .polts span:hover{
  transform: scale(1.5,1.5);
  cursor: pointer;
}

.discount{
  display: flex;
  margin-top: 20px;
}
.discount-description{
  flex: 2;
  background-color: #F7F3EF;
  padding: 20px;
  position: relative;
}

.discount-item{
  flex: 1;
  height: 250px;
  position: relative;
}

.discount .top{
  position: relative;
  padding-left: 80px;
  margin-bottom: 20px;
}

.discount .top .icon2{
    position: absolute;
    left: 10px;
    top: -5px;
    font-size: 60px;
    color: var(--mainColor);
}
.discount-title{
    color: var(--subColor);
    text-transform: capitalize;
    font-size: 18px;
}

.discount-subtitle{
  color: gray;
  text-transform: capitalize;
}

.discount .top + p{
  line-height: 1.7;
  color: gray;
}

.discount .lines{
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.discount .lines span{
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: grey;
  transition: background-color 0.5s;
}

.discount .lines span:hover{
  background-color: var(--mainColor);
}
/* ---------- */
.img-container{
  overflow: hidden;
  height: 100%;
}

.img-container img{
  width: 100%;
  background-size: cover;
  transition: transform 0.5s;
}

.discount-item:nth-child(2){
  margin: 0 20px;
}

.img-container:hover .myImage{
  transform: scale(1.1);
}
/* ------------ */
.discount-item-container{
  position: absolute;
  top: 20px;
  left: 10px;
}

.discount-item-container span{
  color: var(--mainColor);
}
/* sprites */
.sprites{
    margin-top: 20px;
    display: flex;
    padding: 40px 0px;
}
.sprite-item{
  flex: 1;
  text-align: center;
  border-right: 1px solid #eee;
}

.category .container::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color:#eee;
}

.sprite-icon{
  background-image: url(../images/service-icon.png);
  height: 55px;
  background-repeat: no-repeat;
}

.sprite-icon-1{
  background-position: center 5px;
  transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-1{
  background-position: center -86px;
}

.sprite-icon-2{
  background-position: center -180px;
  transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-2{
  background-position: center -273px;
}

.sprite-icon-3{
  background-position: center -365px;
  transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-3{
  background-position: center -455px;
}

.sprite-icon-4{
  background-position: center -550px;
  transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-4{
  background-position: center -639px;
}
.sprite-icon-5{
  background-position: center -735px;
  transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-5{
  background-position: center -826px;
}
.sprite-item:last-child{
  border: 0;
}

.sprite-info h3 {
  font-size: 16px;
  color: var(--subColor);
  margin-bottom: 5px;
}
.sprite-info span{
  color: #6F6F6F;
}
/* end category section */
/* ---------------- */

/* start products section */
.products-nav ul{
  display: flex;
  justify-content: center;
}

.products-nav ul li{
    margin: 0 25px;
    font-size: 15px;
    font-weight: bold;
}

.products-nav ul li a{
  text-transform: capitalize;
  color: var(--subColor);
}
.products-nav ul li a:hover{
  color: var(--mainColor);
}

.product-img{
  position: relative;
}
.product-img img{
  width: 100%;
}

.product-overlay{
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.product-overlay ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.product-overlay ul li{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--subColor);
  text-align: center;
  transition: background-color 0.2s;
}

.product-overlay ul li i{
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}

.product-overlay ul li:hover{
  background-color: var(--mainColor);
}

.product-item:hover .product-overlay{
  transform: scaleX(1);
}

.products-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.active-star{
  color: #FFB700;
}
.product-info i{
  margin-top: 10px;
}
.product-info span{
  display: block;
   margin: 5px 0;
}
/* end products section */


/* start videos section */

.videos{
  display: flex;
  margin-top: 70px;
}

.video-description {
  flex: 2;
  background-color: #F7F3EF;
  padding: 10px;
  position: relative;
}
.video-description .top{
  position: relative;
  padding-left: 60px;
  padding-bottom: 45px;
}
.top .date{
  position: absolute;
  left: 0;
  color: var(--mainColor);
}
.date h3 {
  font-size: 40px;
}
.video-title{
  padding: 12px;
  color: var(--subColor);
}
.video-desc{
  color: gray;
}

.video-item {
  height: 100%;
  flex: 1;
  margin-right: 30px;
  position: relative;
}

.video-item .play {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-item img:first-child{
  width: 100%;
}

.video-description .lines{
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.video-description .lines span{
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: grey;
  transition: background-color 0.5s;
}

.video-description .lines span:hover{
  background-color: var(--mainColor);
}
/* end videos section */
/* clients */
.clients{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.clients img{
  opacity: 0.6;
  transition: opacity 0.5s;
}
.clients img:hover{
  opacity: 1;
}

/* footer */

footer{
  background-color: #000;
  color: #fff;
}

.footer-container{
  display: flex;
  padding: 80px 0;
  height: 400px;
  justify-content: space-between;
}

.footer-item:nth-child(1){
  flex-basis: auto;
  max-width: 390px;
}
.footer-item:nth-child(1) p{
  margin: 35px 0;
  line-height: 1.5;
  color: #6F6F6F;
}

.footer-item img{
  cursor: pointer;
}
.footer-item img:nth-of-type(2){
  margin-right: 10px;
}

.footer-item:nth-child(2) .footer-title,
.footer-item:nth-child(3) .footer-title,
.footer-item:nth-child(4) .footer-title{
 text-transform: capitalize;
 font-size: 16px;
 margin-bottom: 25px;
 cursor: pointer;
}

.footer-item:nth-child(2) a,
.footer-item:nth-child(3) a{
  transition: color,transform 0.5s;
}
.footer-item:nth-child(2) li a:hover,
.footer-item:nth-child(3) li a:hover{
  color: #fff;
  transform: translateX(5px);
  display: block;
}

.footer-item:nth-child(2) ul li a,
.footer-item:nth-child(3) ul li a{
  color: #6F6F6F;
  line-height: 1.8;
}

.footer-item:nth-child(4) li{
  display: inline-block;
}

.footer-item:nth-child(4) li a{
  color: #6F6F6F;
  height: 40px;
  width: 40px;
  display: block;
  font-size: 20px;
  transition: color 0.2s;
}

.footer-item:nth-child(4) li a:hover{
  color: #fff;
}

.footer-item:nth-child(4) input{
  border: 0;
  height: 40px;
  width: 230px;
  background-color: #000;
  border-bottom: 1px solid #6F6F6F;
  margin-bottom: 25px;
  color: #6F6F6F;
}

.footer-item:nth-child(4) input:focus{
  outline: none;
}

.footer-item i{
  color: #6F6F6F;
  font-size: 25px;
}

.footer-item i:hover{
  color: #fff;
}
.footer-bottom{
  background: #000;
  color: #fff;
  padding: 10px 5px;
}
.footer-bottom-continer{
  display: flex;
  justify-content: space-between;
}

.payment img {
  opacity: 0.6;
}

.payment img:hover {
  opacity: 1;
}
